tfx-mii/*.acn
tfx-mii/*.acr
tfx-mii/*.alg
tfx-mii/*.glg
tfx-mii/*.gls
tfx-mii/*.ist
tfx-mii/*.lol
tfx-mii/*.aux
tfx-mii/*.bbl
tfx-mii/*.blg
tfx-mii/*.glo
tfx-mii/*.lof
tfx-mii/*.log
tfx-mii/*.lot
tfx-mii/*.out
tfx-mii/*.synctex.gz
tfx-mii/*.toc
